.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.switcher {
    width: 30px;
    display: inline-block;
    border: 1px solid black;
}

.on {
    background-color: green;
}

.off {
    background-color: red;
}

.indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px;
}